/*Tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*colores*/
:root{
    --color-pimario: #7C76BB;
    --color-secundario: #636363;
    --color-terciario: #FF87B0;
    --color-fondo: #FFFFFF;
    --color-footer: #27a3ff29;
    --color-hover: #d6d5ea;
    --color-extra: #DCF0FF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none;
    outline: none !important;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--color-fondo);
    color: var(--color-secundario);
    font-family: "Roboto", sans-serif;
    /* border: 2px solid red; */
    font-size: 16px;
}
img{
    max-width: 50%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
    padding: 5% 7%;
}


/*HEADER*/
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
}
.logo{
    max-width: 20%;
}
.header__menu{
    display: flex;
    align-items: center;
    /* gap: 3rem; */
}
.link{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding: .7rem 2rem;
    color: var(--color-pimario);
    border-radius: 12px;
}
.link:hover{
    color: var(--color-fondo);
    background-color: var(--color-pimario);
}
.header__menu__link{
    background-color: var(--color-fondo);
    border: 2px solid var(--color-fondo);
}

/*MENU HAMBURGUESA*/
.menu__hamburguesa, .menu__hamburguesa__boton{
    display: none;
}


/*MAIN*/
.container__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7% 0;
    gap: 2.5em;
    width: 50%;
}
.container__contenido__titulo{
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-pimario);
}
.resaltar__texto{
    color: var(--color-terciario);
}
.container__contenido__texto{
    font-size: 1rem;
    /* padding: 7% 0; */
}
.container__enlaces{
    display: flex;
    align-items: center;
    gap: 2em;
}
/* .container__enlaces__link{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding: .7rem 2rem;
    color: var(--color-pimario);
    background-color: var(--color-fondo);
    border: 2px solid var(--color-pimario);
    border-radius: 12px;
} */
.container__enlaces__link{
    color: var(--color-pimario);
    border: 2px solid var(--color-pimario);

}
.container__enlaces__link:hover{
    color: var(--color-fondo);
    background-color: var(--color-pimario);
}
.container__enlaces__link__flecha, .container__enlaces__link__play{
    vertical-align: middle;
}
.container__enlaces__link:hover .container__enlaces__link__flecha{
    filter: brightness(0) saturate(100%) invert(99%) sepia(74%) saturate(217%) hue-rotate(278deg) brightness(116%) contrast(100%);
}

.container__imagen{
    /* max-width: 50%; */
    /* border: 2px solid red; */
}

/*SPONSOR*/
.sponsor{
    display: flex;
    flex-direction: column;
    gap: 2em;
    box-shadow: rgba(178, 178, 178, 0.17) 0px 14px 37px -10px;
}
.sponsor__contenido{
    display: flex;
    color: var(--color-pimario);
}
.sponsor__imagenes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}
.sponsor__imagenes__marca{
    max-width: 10%;
}


/*ARTICULOS*/
.service{
    flex-direction: row-reverse;
}
.container__contenido__subtitulo{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-pimario);
}
.container__subenlaces__link{
    text-align: center;
    font-size: 1.2rem;
    padding: 2% 0;
    color: var(--color-secundario);
    border-bottom: 3px solid var(--color-pimario);
}
.container__subenlaces__link:hover{
    border-bottom: 3px solid var(--color-terciario);
}

.container__subenlaces__link:hover .container__enlaces__link__play{
    filter: brightness(0) saturate(100%) invert(99%) sepia(18%) saturate(2519%) hue-rotate(180deg) brightness(91%) contrast(100%);
    filter: brightness(0) saturate(100%) invert(73%) sepia(29%) saturate(1494%) hue-rotate(294deg) brightness(102%) contrast(102%);
}


/*POP UP*/
.popup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    width: 80%;
    max-width: 80vw;
    margin: 0 auto;
    padding: 5% 10%;
    flex-wrap: wrap;
    background-color: var(--color-fondo);
    border: 2px solid var(--color-terciario);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
}
.popup::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    

    display: none;
}
.popup__boton{
    width: 100%;
}
.popup .popup__contenido, .popup .container__imagen{
    width: calc(50% - 2em);
}
.popup__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 0;
    gap: 1em;
}
.popup__boton{
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    padding: 2% 10%;
    color: var(--color-fondo);
    background-color: var(--color-terciario);
    border: 2px solid var(--color-terciario);
}
.popup__boton:hover{
    color: var(--color-pimario);
    background-color: var(--color-hover);
    border: 2px solid var(--color-pimario);
}

/*SERVICIOS*/
.servicios, .testimonios{
    display: flex;
    flex-wrap: wrap;
}
.servicios .container__contenido, .testimonios .container__contenido__subtitulo{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.servicios__contenedor, .testimonios__contenedor{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    
}
.servicios__contenido{
    width: calc(33.3% - 2em);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2em;
    padding: 2% 0;
    border-radius: 2rem;
    background-color: var(--color-footer);
}
.servicios__contenido__titulo{
    font-weight: 700;
    color: var(--color-pimario);
}
.servicios__imagen{
    max-width: 100%;
    /* aspect-ratio: 4/3; */
    object-fit: cover;
    vertical-align: middle;
}
.servicios__contenido .container__contenido__texto, .servicios__contenido .container__enlaces__link{
    margin: 5% 10%;
}

#texto__leer__mas{
    display: none;
}


/*TESTIMONIOS*/
.testimonios__destacados{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.testimonios__destacados__contenido{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.testimonios__destacados__comillas{
    max-width: 15%;
    vertical-align: middle;
}
.testimonios__destacados__comillas:last-child{
    margin-left: auto;
}
.testimonios__destacados__contenido .testimonio__contenido{
    flex-direction: row;
    box-shadow: rgba(178, 178, 178, 0.17) 0px 14px 37px -10px;
}


.testimonio__contenido{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    padding: 5%;
}
.testimonios__contenedor .testimonio__contenido{
    width: calc(33.3% - 2em);
}
.testimonio__imagen{
    max-width: 30%;
    vertical-align: middle;
}

/*CONTACTAR*/
.contactar{
    display: flex;
    flex-direction: column;
    padding: 10% 0;
}

/*FOOTER*/
.footer{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3em;
    padding: 5% 7%;
    background-color: var(--color-footer);
}
.footer__contenido{
    width: calc(25% - 3em);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 5% 0;
    text-align: center;
}
.footer__logo{
    max-width: 80%;
}
.footer__contenido__rrss__icono{
    padding-right: 10%;
    vertical-align: middle;
}

.footer__contenido__lista__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}
.footer__contenido__copyright{
    margin: 0 auto;
}